.tableRow:hover {
    background-color: rgba(240, 240, 240);
}

.customLi:hover {
    cursor: pointer;
    background-color: rgba(240, 240, 240);
}

.customLiClick:checked+label {
    background: #ffffff;
}


@media only screen and (max-width: 800px) {
    .cusHeightLogin {
        min-height: 53.3vh !important;
    }

    .chirandiTable {
        display: none;
    }
}